useDynLib(optimum, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import(data.table)
import(parallel)
import(Rcpp)
import(methods)
import(rstantools)
importFrom(rstan,sampling)
importFrom("stats", "dbeta", "pbeta", "pnorm", "rbeta", "rbinom")
importFrom("utils", "tail")
importFrom("pracma", "quadgk")
